:root {
    --color1: rgb(255,200,255);
}

.small-circle-icon {
    width: 35px; /* устанавливаем ширину */
    height: 35px; /* устанавливаем высоту */
    border-radius: 50%; /* задаем скругленные углы для создания круглой формы */
}

.bg-gradient-b {
    background: var(--color1);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(182,180,218,1) 100%, rgba(20,171,164,1) 100%);
}

.big-control {
    height: 150px;
}
