{% extends "base.html" %}

{% block content %}
    <section class="m-5">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
          <div class="mb-3">
                {{ form.mini_description.label(class="form-label")}}
                {{ form.mini_description(class="form-control") }}
                  {% for error in form.mini_description.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
                  {% endfor %}
                <div class="form-text">Это подпись карточки.</div>
          </div>
          <div class="mb-3">
                {{ form.description.label(class="form-label")}}
                {{ form.description(class="form-control big-control") }}
                  {% for error in form.description.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
                  {% endfor %}
              <div class="form-text">Можете тут оставить свои контакты для связи. Возможно использовать теги html (например ссылка: &lt;a href="ссылка"&gt;текст&lt;/a&gt;).</div>
          </div>
          <div class="mb-3">
             {{ form.photo.label }}: {{ form.photo(class="bg-gradient-b") }}
             {% for error in form.photo.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
              {% endfor %}
          </div>
          {{ form.submit(type="submit", class="btn btn-primary") }}
        </form>
    </section>
{% endblock %}