{% extends "base.html" %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row">
            <div class="col">
                <div class="post-content">
                    <div class="post-container">
                        <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="user" class="profile-photo-md pull-left">
                        <div class="post-detail">
                            <div class="user-info">
                                <h5><a href="/user/1" class="profile-link">Имя создателя</a> -
                                    <span>id: его индификатор</span></h5>  <!--в href с индификатором передаётся-->
                                <p class="text-muted">Время создания</p>
                            </div>
                            <div class="lidi">
                                <button id="like-btn" class="btn btn-secondary" data-post-id="{{ event_id }}"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></i></button>
                                <!-- Выше кнопка лайка с иконкой -->
                                <p style="font-size: 14px;">Likes: <span id="likes" style="font-weight: bold;">{{ likes }}</span></p>  <!-- количество лайков, аккуратно, тут лучше ничего не переписывать -->
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                                <p>Большое описание события.{{ test|safe }} </p>
                                <!--'|safe' для преобразование текста html в код html-->
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                                <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="avatar" class="profile-photo-sm">
                                <p><a href="/user/1" class="profile-link">Пользователь</a> Текст комментария </p>
                                <!--в href с индификатором передаётся-->
                            </div>
                            <div class="post-comment">
                                <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="" class="profile-photo-sm">
                                <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.text_comment(class="form-control me-4", placeholder="Добавить комментарий",
                                    aria_label="Добавить комментарий") }}
                                    {% for error in form.text_comment.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {{ form.submit(type="submit", class="btn btn-primary") }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}