{% extends "base.html" %}

{% block content %}
    <main>
      <h1 class="text-center">Мероприятия (события) пользователя - <span class="text-primary">{{ user["user"]["name"] }}</span>:</h1>
      <div class="album py-5 bg-body-tertiary">
        {% if data %}
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for event_data in data %}
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ url_for('event_photo', id=event_data.id) }}" alt="Изображение мероприятия" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text">{{ event_data.mini_description|safe }}</p>  <!--'|safe' для преобразование текста в код html-->
                    <p class="card-text">Автор: {{ event_data.user.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/event/{{ event_data['id'] }}" class="btn btn-sm btn-outline-secondary">Перейти</a>  <!--ссылка на полное описание мероприятия-->
                      </div>
                      <small class="text-body-secondary">{{ event_data.create_data }}</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        {% else %}
            <h3 class="text-center"><span>У пользователя нет мероприятий (событий).</span></h3>
        {% endif %}
      </div>
    </main>
{% endblock %}