{% extends "base.html" %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row">
            <div class="col">
                <div class="post-content">
                    <div class="post-container">
                        <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="user" class="profile-photo-md pull-left">
                        <div class="post-detail">
                            <div class="user-info">
                                <h5><a href="/user/1" class="profile-link">Имя создателя</a> -
                                    <span>id: его индификатор</span></h5>  <!--в href с индификатором передаётся-->
                                <p class="text-muted">Время создания</p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                                <p>Большое описание события.{{ test|safe }} </p>
                                <!--'|safe' для преобразование текста html в код html-->
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                                <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="avatar" class="profile-photo-sm">
                                <p><a href="/user/1" class="profile-link">Пользователь</a> Текст комментария </p>
                                <!--в href с индификатором передаётся-->
                            </div>
                            <div class="post-comment">
                                <img src="{{ url_for('static', filename='img/test_icon_user.png') }}" alt="" class="profile-photo-sm">
                                <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.text_comment(class="form-control me-4", placeholder="Добавить комментарий",
                                    aria_label="Добавить комментарий") }}
                                    {% for error in form.text_comment.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {{ form.submit(type="submit", class="btn btn-primary") }}
                                </form>
                                <button data-post-id="1" onclick="likePost(1)">Like</button>  <!--вместо 1 id события (мероприятия)-->
                                <script>
                                    function likePost(postId) {
                                        fetch('/post/' + postId + '/like', { method: 'POST' })
                                        .then(response => {
                                            if (response.ok) {
                                                console.log('Post liked successfully');
                                                updateButton(postId);
                                            } else {
                                                console.error('Failed to like post');
                                            }
                                        });
                                    }

                                    function updateButton(postId) {
                                        let button = document.querySelector('button[data-post-id="' + postId + '"]');
                                        if (button.innerHTML === 'Like') {
                                            button.innerHTML = 'Unlike';
                                        } else {
                                            button.innerHTML = 'Like';
                                        }
                                    }
                                </script>  <!--скрипт для лайков-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}