{% extends "base.html" %}

{% block content %}
    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Event Linker</h1>
            <p class="lead text-body-secondary">Эта платформа организации мероприятий. Участвуйте в мероприятиях. Создавайте свои мероприятия и информируйте о них пользователей.</p>
            <p>
              <form method="POST" action="/" class="d-flex">
                {{ form.hidden_tag() }}
                {{ form.search(placeholder="Поиск", aria_label="Поиск", class="form-control me-2", value=session['search_text']) }}  <!-- value сохраняет предыдущий запрос -->
                {{ form.submit(class="btn btn-outline-success") }}
                 </div>
                <div class="col mb-3 d-flex">
                    <button class="btn btn-primary btn-sm me-2" type="button" data-bs-toggle="collapse" data-bs-target="#eventTypeCollapse" aria-expanded="false" aria-controls="eventTypeCollapse">
                        Выберите тип события
                    </button>
                    <div class="collapse" id="eventTypeCollapse">
                        <div class="form-check">
                            {{ form.concert(class="form-check-input") }}
                            <label class="form-check-label">{{ form.concert.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.excursion(class="form-check-input") }}
                            <label class="form-check-label">{{ form.excursion.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.sports(class="form-check-input") }}
                            <label class="form-check-label">{{ form.sports.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.for_kids(class="form-check-input") }}
                            <label class="form-check-label">{{ form.for_kids.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.attractions(class="form-check-input") }}
                            <label class="form-check-label">{{ form.attractions.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.studies(class="form-check-input") }}
                            <label class="form-check-label">{{ form.studies.label.text }}</label>
                        </div>
                        <div class="form-check">
                            {{ form.other(class="form-check-input") }}
                            <label class="form-check-label">{{ form.other.label.text }}</label>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="ms-auto">
                            <a href="/create_event" class="btn btn-outline-primary">Создать мероприятие</a>
                        </div>
                    {% endif %}
                </div>
              </form>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        {% if data.items() %}
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for event_data in data.items() %}
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ url_for('revent.event_photo', id=event_data.id) }}" alt="Изображение мероприятия" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text">{{ event_data.mini_description|safe }}</p>  <!--'|safe' для преобразование текста html в код html-->
                    <p class="card-text">Автор: {{ event_data.user.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{{ url_for('revent.event', id=event_data.id, page=1) }}" class="btn btn-sm btn-outline-secondary">Перейти</a>  <!--ссылка на полное описание мероприятия-->
                      </div>
                      <small class="text-body-secondary">{{ event_data.create_data }}</small>
                      <div class="d-flex justify-content-end mt-auto">Тип события: {{ event_data.event_type }}</div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <nav aria-label="навигация по страницам" class="nav_page">
          <ul class="pagination justify-content-end">
            {% if not data.has_previous() %}
              <li class="page-item disabled">
            {% else %}
              <li class="page-item">
            {% endif %}
              <a class="page-link" href="/page/{{ data.previous_page_number }}"><</a>
            </li>

            {% if data.num_pages > 4 %} {# Если общее количество страниц больше 4 #}
              {% if data.page > 2 %}
                <li class="page-item">
                  <a class="page-link" href="/page/1">...</a>
                </li>
              {% endif %}
              {% for page in data.pages_range %}
                {% if page > data.page - 2 and page < data.page + 2 %}
                  {% if page == data.page %}
                    <li class="page-item active">
                  {% else %}
                    <li class="page-item">
                  {% endif %}
                    <a class="page-link" href="/page/{{ page }}">{{ page }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if data.page < data.num_pages - 1 %}
                <li class="page-item">
                  <a class="page-link" href="/page/{{ data.num_pages }}">...</a>
                </li>
              {% endif %}
            {% else %}
              {% for page in data.pages_range %}
                {% if page == data.page %}
                  <li class="page-item active">
                {% else %}
                  <li class="page-item">
                {% endif %}
                  <a class="page-link" href="/page/{{ page }}">{{ page }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if not data.has_next() %}
              <li class="page-item disabled">
            {% else %}
              <li class="page-item">
            {% endif %}
              <a class="page-link" href="/page/{{ data.next_page_number }}">></a>
            </li>
          </ul>
        </nav>
        {% else %}
            <h3 class="text-center"><span>Ничего не нашли</span></h3>
        {% endif %}
      </div>
    </main>
{% endblock %}