{% extends "base.html" %}

{% block content %}
    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Event Linker</h1>
            <p class="lead text-body-secondary">Эта платформа организации мероприятий. Участвуйте в мероприятиях. Создавайте свои мероприятия и информируйте о них пользователей.</p>
            <p>
              <form method="POST" action="/" class="d-flex">
                {{ form.hidden_tag() }}
                {{ form.search(placeholder="Поиск", aria_label="Поиск", class="form-control me-2", value=session['search_text']) }}  <!-- value сохраняет предыдущий запрос -->
                {{ form.submit(class="btn btn-outline-success") }}
              </form>
            {% if current_user.is_authenticated %}
              <a href="/create_event" class="btn btn-primary btn-sm my-2 float-end">Создать мероприятие</a>
            {% endif %}
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        {% if data.items() %}
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for event_data in data.items() %}
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ url_for('revent.event_photo', id=event_data.id) }}" alt="Изображение мероприятия" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text">{{ event_data.mini_description|safe }}</p>  <!--'|safe' для преобразование текста html в код html-->
                    <p class="card-text">Автор: {{ event_data.user.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{{ url_for('revent.event', id=event_data.id, page=1) }}" class="btn btn-sm btn-outline-secondary">Перейти</a>  <!--ссылка на полное описание мероприятия-->
                      </div>
                      <small class="text-body-secondary">{{ event_data.create_data }}</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <nav aria-label="навигация по страницам" class="nav_page">
          <ul class="pagination justify-content-end">
            {% if not data.has_previous() %}
              <li class="page-item disabled">
            {% else %}
              <li class="page-item">
            {% endif %}
              <a class="page-link" href="/page/{{ data.previous_page_number }}">Предыдущая</a>
            </li>

            {% for page in data.pages_range %}
              {% if page == data.page %}
                <li class="page-item active">
              {% else %}
                <li class="page-item">
              {% endif %}
                <a class="page-link" href="/page/{{ page }}">{{ page }}</a>
              </li>
            {% endfor %}

            {% if not data.has_next() %}
              <li class="page-item disabled">
            {% else %}
              <li class="page-item">
            {% endif %}
              <a class="page-link" href="/page/{{ data.next_page_number }}">Следующая</a>
            </li>
          </ul>
        </nav>
        {% else %}
            <h3 class="text-center"><span>Ничего не нашли</span></h3>
        {% endif %}
      </div>
    </main>
{% endblock %}