{% extends "base.html" %}

{% block content %}
  <section class="mb-3 mt-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-primary" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-outline mb-4">
                  {{ form.name(class="form-control form-control-lg") }}
                  {% for error in form.name.errors %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
                  {% endfor %}
                  {{ form.name.label(class="form-label")}}
                </div>

                <div class="form-outline mb-4">
                  {{ form.email(class="form-control form-control-lg") }}
                  {% for error in form.email.errors %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
                  {% endfor %}
                  {{ form.email.label(class="form-label")}}
                </div>

                <div class="form-outline mb-4">
                  {{ form.password(class="form-control form-control-lg") }}
                  {% for error in form.password.errors %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
                  {% endfor %}
                  {{ form.password.label(class="form-label")}}
                </div>

                <div class="form-outline mb-4">
                  {{ form.password_again(class="form-control form-control-lg") }}
                  {% for error in form.password_again.errors %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
                  {% endfor %}
                  {{ form.password_again.label(class="form-label")}}
                </div>

                <div class="form-outline mb-4">
                  {{ form.about(class="form-control form-control-lg") }}
                  {{ form.about.label(class="form-label")}}
                </div>

                <div class="form-outline mb-4">
                  {{ form.photo.label }}: {{ form.photo(class="bg-gradient-b") }}
                   {% for error in form.photo.errors %}
                   <div class="alert alert-danger" role="alert">
                   {{ error }}
                   </div>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-center">
                  {{ form.submit(type="submit", class="btn btn-success btn-block btn-lg gradient-custom-4 text-body") }}
                </div>

                <p class="text-center text-muted mt-5 mb-0">У вас уже есть учетная запись? <a href="/login"
                    class="fw-bold text-body"><u>Войти</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}