{% extends "base.html" %}

{% block content %}
<section class="gradient-custom-2" style="background: #778899;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #1E90FF; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{ url_for('static', filename='img/test_icon_user.png') }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="\edit_profile"
                style="z-index: 1;">
                Редактировать профиль
              </a>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>Имя пользователя</h5>
              <p>ID: пользователя из бд</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Мероприятий</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Лайков поставил</p>
              </div>
              <div>
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Лайкнули</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Комментариев</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Email</p>
              <div class="p-2" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Его email</p>
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Тут о пользователе, но может быть пусто, тогда надо проверку не надо делать, потому что по дефолту в form уже будет всё.</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0"><a href="#!" class="text-muted">Ваши созданные мероприятия</a></p>  <!--Опять же делаем условие если у него нет мероприятий, то этой силки нет-->
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <a type="button" class="btn btn-danger center" data-mdb-ripple-color="dark"
                  style="z-index: 1;" href="/login">  <!--надо как-то ещё продумать чтобы пользователь от логинелся-->
                  ВЫЙТИ
              </a>
              <a type="button" class="btn btn-danger center" data-mdb-ripple-color="dark"
                  style="z-index: 1;" href="/delete_user/1">  <!--индекс будет передаваться через current_user-->
                  УДАЛИТЬ
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}