{% extends "base.html" %}

{% block content %}
<section class="gradient-custom-2" style="background: #778899;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #1E90FF; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{ url_for('rusers.user_photo', id=current_user.id) }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="\edit_profile"
                style="z-index: 1;">
                Редактировать профиль
              </a>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ current_user.name }}</h5>
              <p>ID: #{{ current_user.id }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{ metrics_user["events"] }}</p>
                <p class="small text-muted mb-0">Мероприятий</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ metrics_user["like_up"] }}</p>
                <p class="small text-muted mb-0">Лайков поставил</p>
              </div>
              <div>
                <p class="mb-1 h5">{{ metrics_user["liked"] }}</p>
                <p class="small text-muted mb-0">Лайкнули</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ metrics_user["comments"] }}</p>
                <p class="small text-muted mb-0">Комментариев</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Email</p>
              <div class="p-2" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ current_user.email }}</p>
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ current_user.about }}</p>
              </div>
            </div>
            {% if current_user.location %}
              <div class="mb-5">
                <p class="lead fw-normal mb-1">Location</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{ current_user.location }}</p>
                </div>
              </div>
            {% endif %}

            {% if current_user.date_of_birth %}
              <div class="mb-5">
                <p class="lead fw-normal mb-1">Date of Birth</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{ current_user.date_of_birth }}</p>
                </div>
              </div>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0"><a href="/events/{{ current_user.id }}" class="text-muted">Ваши созданные мероприятия</a></p>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <a type="button" class="btn btn-danger center" data-mdb-ripple-color="dark"
                  style="z-index: 1;" href="/logout">
                  ВЫЙТИ
              </a>
              <a type="button" class="btn btn-danger center" data-mdb-ripple-color="dark"
                  style="z-index: 1;" href="/delete_user/{{ current_user.id }}">  <!--индекс будет передаваться через current_user-->
                  УДАЛИТЬ
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
